<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="twitter:card" content="app">
  <meta name="twitter:site" content="@yumixocom">
  <meta name="twitter:title" content="The perfect dating experience">
  <meta name="twitter:description" content="The perfect way to meet new people">
  <meta name="twitter:creator" content="@creator_username">
  <meta name="twitter:image:src" content="http://placekitten.com/250/250">
  <meta name="twitter:domain" content="Yumixo.com">
  <meta name="twitter:app:id:iphone" content="525256014">
  <meta name="twitter:app:url:iphone" content="yumixo://open_date/12">

  <meta name="keywords" content="dating,meeting,online dating,hipster dating,free online dating service,adult girls dating,guys dating,find date,date,offline dating,eater dating">

	<meta name="description" content="Yumixo mobile app uses geo-location functionality to help singles to find dates nearby. Dates are the core of the Yumixo experience. People can post date suggestions either to the community overall, or they can invite someone specific. For example, a person can post a date: “let’s take a salsa lesson and then test our moves at the Cinco de Mayo party”. Potential matches may reply by indicating their interest in this date. If both parties are interested, they can settle on specifics of the meeting by safely communicating within the application, without revealing their phone number of email address. In addition to finding the dates, the app allows to find other singles in the vicinity.">

  <title>Yumixo – знакомства, чат, встречи</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/smartappbanners' %>
  <%= render 'layouts/google_analytics' %>  

</head>
<body>
<div class="container">
<%= yield %>
</div>
<%= render 'layouts/some_javascripts' %>
</body>
</html>
